@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Caveat:wght@600&family=Cormorant+Garamond&family=Lexend&family=Lora:ital@0;1&family=Montserrat:wght@300&family=PT+Serif&family=Playfair+Display:ital@0;1&family=Poppins:wght@300&family=Roboto&family=Ysabeau+Office:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .section{
      @apply py-16 px-8 mx-auto;
    }
    
}

body{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

.grid-cols-cart1 {
  display: grid;
  grid-template-columns: minmax(200px, 800px) minmax(100px, 400px);
}

