@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Caveat:wght@600&family=Cormorant+Garamond&family=Lexend&family=Lora:ital@0;1&family=Montserrat:wght@300&family=PT+Serif&family=Playfair+Display:ital@0;1&family=Poppins:wght@300&family=Roboto&family=Ysabeau+Office:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .section{
      @apply py-16 px-8 mx-auto;
    }
    
}

body{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(200px, 1fr)); /* Rows will adjust based on the content */
  gap: 10px; /* Adjust the gap between grid items as needed */
}

